/*   less  1600px     */
//@media screen and (max-width: 1600px) {
//}

/*   less  1200px     */
@media screen and (max-width: 1200px) {
// header
  .header {
    .row {
      flex-wrap: nowrap;
    }
  }

  .input-search {
    width: 45px;
    left: 87%;
  }

  //  about
  .img-head {
    margin-top: 20px;
  }


  //  tabs
  .tabs__image {
    padding: 120px 0 5px;
  }


  //  slider
  .slider__wrap {
    width: 300px !important;
  }

  .slider__wrap img {
    width: 300px;
  }

  .dots-style {
    margin-top: 60px;
  }

  // section__blog
  .left img,
  .right img {
    max-width: 100%;
  }

  .left, .right {
    margin: 0;
  }

  .blog {
    margin: 20px 44px;
  }

  //  footer
  .footer {
    padding-top: 120px;
  }

  .form-row {
    margin-left: -30px;
  }
}


/*   less  992px     */
@media screen and (max-width: 992px) {
  // header
  .header {
    .row {
      flex-wrap: wrap;
    }
  }

  .input-search {
    width: 110px;
    left: 2%;
    top: 215px;
  }

  //  mobile--menu
  .navigation__menu {
    display: none;
  }

  .menu__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__icon-btn {
    display: block !important;
    border: none;
    outline: none;
    background: #00897b;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-left: 460px;
    cursor: pointer;
  }

  .menu__list-item {
    margin-left: 0;
    margin-top: 12px;
  }

  // tabs
  .image__hover img {
    max-width: 100%;
  }

  .image__hover {
    margin: auto;
  }

  // pricing
  .price {
    margin-bottom: 35px;
  }

  //slider
  .fa-stack {
    width: 2.5em;
  }

  // section__blog
  .left>div:first-child,
  .right>div:first-child {
    order: 0;
  }
}

/*   less  768px     */
@media screen and (max-width: 768px) {

  .menu__icon-btn {
    margin-left: 0;
  }

  //services
  .services {
    padding: 60px 0;
  }

  //  tabs
  .button {
    padding: 10px 11px;
  }

  .tabs__image {
    padding: 55px 0 5px;
  }

  .image__hover-text {
    display: none;
  }

  .image__hover {
    height: 215px;
  }

  //slider
  .slider__wrap img {
    width: 250px;
  }

  .slider__wrap {
    width: 250px !important;
  }

  .fa-stack {
    width: 1.9em;
  }

  // section blog
  .blog__button {
    margin-top: 70px;
  }

  //footer
  .footer__text {
    margin-bottom: 15px;
  }

  //form
  .input__name,
  .input__email {
    margin-left: -15px;
    width: 100%;
  }

  .input__name {
    margin-bottom: 15px;
  }

  .input__textarea {
    margin: 15px -15px 15px;
  }
}



/*   less  576px     */
@media screen and (max-width: 576px) {

}















