@import "vars.scss";
@import "fonts.scss";
@import "mixin";
@import "footer";
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body {
  overflow-x: hidden;
}

body {
  //font-family: 'Roboto', sans-serif;
  @include reg;
  font-size: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

div, p, span, button, a {
  box-sizing: border-box;
}

p, h2, h3, a, ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.toTop {
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 25px;
  border-radius: 3px;
  background: #00897b;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  color: #000;
}

//.wrapper {
//  width: 1200px;  //85%
//  margin: 0 auto;
//  padding: 0 20px;
//  //margin: 0 7%;
//  position: relative;
//}

.header {
  background-color: #fff;
  padding: 20px 0;
  transition: .3s ease;

  &.active-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
}

.menu__list-item {
  margin-left: 37px;

  .fa-search {
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
}

.input-search {
  opacity: 0;
  position: absolute;
  left: 90%;
  border: none;
  outline: 0;
  width: 120px;
  height: 25px;
  padding: 0 7px;
  border-bottom: 1px solid #000;
  //z-index: 100;
}

.icon-search-hide {
  opacity: 0;
  z-index: -1;
}

.menu__list-link {
  font-size: $font;
  color: $text-color;
  transition: .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  &:hover {
    text-decoration: none;
    color: #868686;
  }
}

//    main  image
.main__image {
  background-image: url(../img/header.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  text-align: center;
  color: #fff;
}

.main__image-title {
  font-size: 55px;
}

.main__image-text {
  font-size: 20px;
  margin-bottom: 100px;
}

.button {
  padding: 10px 25px;
  color: #fff;
  margin: 0 10px;
  outline: none;
  transition: .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  cursor: pointer;
  background: #00897b;
  border: 2px solid #00897b;
  text-transform: uppercase;

  &:hover {
    background: transparent;
    border: 2px solid #fff;
  }
}

///////////////   SECTION  ABOUT  US    /////////////////////
.about {
  text-align: center;
  padding: 120px 125px;
}

.about__title,
.services__title,
.portfolio__title {
  font-size: 30px;
  font-weight: bold;
}

.about__text,
.services__text,
.portfolio__text {
  font-size: 15px;
  padding-top: 20px;
  margin-bottom: 100px;
  color: #212121;
}

.about__title-bottom,
.services__title-bottom {
  padding: 10px 20px;
  @include reg;
  font-size: 20px;
}

//////////////////  SECTION   SERVICES   ////////////////////////////
.services {
  background-color: #e4fdf9;
  text-align: center;
  padding: 100px 0 100px;
}

.services__card {
  position: relative;
  background-color: #fff;
  padding: 50px 25px 40px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  img {
    padding-left: 15px;
  }

  &:hover {
    background-color: #00897b;
    color: #fff;
    box-shadow: 0 10px 12px -3px rgba(0,0,0,.26);
  }

  &:hover .services__button {
    color: #fff;
    border: 1px solid;
  }
}

.services__text-bottom {
  line-height: 25px;
}

.services__button {
  @include semi;
  padding: 10px 11px 12px;
  background-color: transparent;
  border: 1px solid #000;
  margin-top: 25px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

//////////////////// section  portfolio  ////////////////////////
.portfolio {
  text-align: center;
  padding: 120px 0 40px;

  .button:hover {
    color: #000;
    border: 2px solid #00897b;
  }
}
////////////////////// section  tabs  //////////////////////////
.tabs__image {
  padding: 120px 0;
}

.js-tab-content {
  display: none;
}

.image__hover {
  width: 370px;
  height: 370px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  transition: .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  &:hover .image__hover-text,
  &:hover .image__hover-text-bottom {
    opacity: 1;
  }

  &:hover img {
    opacity: .9;
  }
}
// show  text  on  hover
.image__hover-text,
.image__hover-text-bottom {
  position: absolute;
  font-size: 25px;
  line-height: 53px;
  color: #fff;
  top: 0;
  left: 33%;
  opacity: 0;
}

.image__hover-text { top: 140px; }
.image__hover-text-bottom { top: 200px; font-size: 21px; }

//  class  for buttons
.active {
  background-color: transparent;
  color: #000;
}
//  class  for   tabs  contents
.active-content {
  display: flex;
  flex-wrap: wrap;
}
/////////// section   pricing  ////////////////
.pricing {
  text-align: center;
  background-color: #f0f1f1;
  padding: 100px 0 100px;
}

.price {
  background-color: #fff;
  transition: .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  &:hover {
          box-shadow: 0 0 11px 3px rgba(0,0,0,0.39);
  }
}

.price__head {
  color: #fff;
  padding: 40px 0 60px;
  background-image: url(../../src/img/pricing_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 211px;

  p:first-child {
    font-size: 25px;
  }

  p:last-child {
    font-size: 40px;
    margin-top: 30px;
  }

  sup {
    font-size: 25px;
  }

  sub {
    font-size: 17px;
  }
}

.price__body {
  font-size: 17px;
  color: #212121;

  li {
    margin: 0 auto;
    border-bottom: 1px solid #bfbfbf;
    max-width: 175px;
    padding: 28px 0 12px;
  }
}

.price__footer {
  padding: 60px 0;

  button {
    border: 2px solid #212121;
    color: #212121;
    background-color: transparent;
    width: 170px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

    &:hover {
      text-transform: uppercase;
      color: #fff;
      background: #00897b;
      border: 2px solid #00897b;
    }
  }
}

//////////////  section   team    ///////////////
.team {
  padding: 100px 0 100px;
  text-align: center;
}

.slider__wrap {
  text-align: center;
  width: 350px  !important;

  img {
    width: 350px;
  }

  h4 {
    margin-top: 30px;
    font-size: 20px;
    @include semi;
  }

  p {
    font-size: 15px;
    margin-bottom: 30px;
  }

}

.social__icons {
  display: flex;
  justify-content: center;
  transition: .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  a {
    transition: .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    i:first-child {
      color: rgba(204,204,204, .3);
    }

    i:last-child {
      color: #00897b;
    }

    &:hover i:first-child { color: #3949ab; }
    &:hover i:last-child { color: #fff; }
  }
}
/////  slick-slider-styles ///////
.dots-style {
  margin-top: 115px;
  display: flex;
  justify-content: center;
  width: 100%;

  .slick-active button {  background-color: #3949ab; }

  button {
    background-color: #00897b;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
    outline: none;
    cursor: pointer;
  }
}

//.wow {
//  visibility: hidden;
//}

/////////////////  section  blog  ////////////////////////
.left > div:first-child {
  order: 1;
}

.left > div:last-child {
  order: 2;
}

.right > div:first-child {
  order: 2;
}

.left, .right {
  margin: 0 -40px;
}

.blog {
  text-align: left;
  margin: 50px 45px;
}

.blog__title {
  display: block;
  font-size: 25px;
  @include semi;
  color: #000;
  transition: .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  &:hover {
    color: #00897b;
  }

}

.blog__icon {
  margin: 15px 0 20px;

  span {
    font-size: 17px;
    @include semi;
    margin-right: 25px;

    i {
      margin-right: 25px;
    }
  }
}

.blog__button {
  width: 220px;
  height: 70px;
  text-transform: uppercase;
  background: #00897b;
  margin-top: 125px;
  border: none;
  @include semi;
  color: #fff;
  font-size: 20px;
  transition: .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 2px solid #00897b;
    color: #00897b;
  }
}


//////////////////  yandex   map  //////////////////////////////////
.map {
  opacity: .7;
}

.yandex__map {
  width: 100%;
}

@import "./media.scss";
